<h2><%= @place.name.capitalize %></h2>

<h4>Rating: <%= @place.rating %></h4>
<h4>Info: <%= @place.info %></h4>
<h4>Location: <%= @place.location %></h4>

<h2>Comments</h2>
<% @place.comments.each do |comment| %>
     <% @comment = comment %>
     <%= render "comments/comment" %>
<% end %>

<h2>Add Comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Back', places_path %>
